<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <!--<meta name="viewport" content="user-scalable=no" />-->
    <meta name="mobile-web-app-capable" content="yes">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"></link>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div id="app" class="app"></div>
</body>
</html>