/*
 * Copyright (c) T. Kroes (t.kroes@lumc.nl), 2019.
 *
 * PIM is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PIM is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 */

@import url("react/react");

html, body {
  //height: 100vh;
  //width: 100vw;
  margin: 0;
  padding: 0;
}

@scrollbar-size: 14px;
@scrollbar-dark: darken(#f3f4f5, 20%);
@scrollbar-background: darken(#f3f4f5, 10%);
@scrollbar-button-background: darken(#f3f4f5, 0%);
@scrollbar-button-border: 1px solid darken(@scrollbar-button-background, 20%);
@scrollbar-button-radius: 3px;

body ::-webkit-scrollbar-track {
  background-color: @scrollbar-background;
  //backgroundPath: linear-gradient(0deg, darken(#f3f4f5, 40%) 0%, darken(#f3f4f5, 25%) 100%)
}

body ::-webkit-scrollbar-corner {
  background-color: darken(@scrollbar-background, 5%);
}

body ::-webkit-scrollbar {
  width: @scrollbar-size;
}

body ::-webkit-scrollbar:horizontal {
  height: @scrollbar-size;
}

body ::-webkit-scrollbar-thumb {
  background: @scrollbar-button-background;
  border-radius: @scrollbar-button-radius;
  border: @scrollbar-button-border;
}

body ::-webkit-scrollbar-thumb:hover {
  background: lighten(@scrollbar-button-background, 10%);
}

.overflow-ellipsis {
  //overflow: hidden;
  text-overflow: ellipsis;
}

.handle-bar {
  background-color: #f3f4f5;
  border-radius: 2px;
  border: 1px solid #d4d4d5;
  width: 10px;
}

.handle-bar:hover, .handle-bar.handle-bar_clone, .handle-bar:active {
  background-color: #eeeff0;
}

.handle-bar.resize-not-allowed:hover {
  background-color: #eeeff0;
}

.handle-bar .handle-bar_drag {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}